.border {
    background-image: url(/about-bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    display: block;
    width: calc(100vw + 10px);
    margin-left: -5px;
    margin-bottom: -1px;
  }
}

.about {
  color: var(--gold);
  background-image: url(/about-bg.png);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
  z-index: 0;

  .container {
    display: flex;
    gap: 4rem;
    align-items: center;
    margin: auto;
    padding-top: 4rem;
    max-width: 80vw;
    z-index: 4;
  }

  > div {
    flex: 50%;
  }

  img {
    border: 15px solid var(--khaki);
    position: relative;
    display: block;
    width: 90%;
    max-width: 1300px;
    z-index: 4;
  }

  p {
    color: var(--lightgold);
    line-height: 1.6;
  }
}

.polaroids {
  position: relative;
  margin-top: -20%;
}

.title {
  div {
    width: fit-content;
    display: inline;
  }
}

.paragraph {
  div {
    margin-top: 24px;
  }
}

@media screen and (max-width: 900px) {
  .about {
    padding: 10vw;
    .container {
      flex-direction: column;
      padding-bottom: 300px;
    }
  }

  .polaroids {
    margin-top: 0;
    margin-left: 20px;
  }

  .container {img {
    border: 8px solid var(--khaki);
  }
}
}