.button {
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    font-family: "John Muir Wide";
    padding: 16px 8px;
    text-decoration: none!important;
    > span {
        padding: 12px 24px;
    }
}
