.wrapper {
    background-color: var(--navy);
    color: var(--khaki);
    padding: 7rem;
    text-align: center;
    position: relative;

    h1 {
        font-family: "John Muir";
        font-size: 3rem;
        margin-bottom: 0;
    }

    p {
        max-width: 75vw;
        margin-top: 0;
        margin-inline: auto;
    }
}
