.wrapper {
    background-color: var(--navy);
    color: var(--khaki);
    padding: 7rem;
    text-align: center;
    position: relative;
    background-image: url(/about-bg.png);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    p {
        max-width: 75vw;
        margin-top: 0;
        margin-inline: auto;
    }
}
