.border {
    display: block;
    width: calc(100vw + 10px);
    margin-left: -5px;
    margin-bottom: -100px;
}

.wrapper {
    background-color: var(--orange);
    padding: 4rem;

    h1 {
        font-family: "John Muir";
        font-size: 3rem;
        color: var(--khaki);
    }
}

.faq {
    display: flex;
    gap: 14px;

    > div {
        flex: 50%;
    }
}

.qa {
    background-color: var(--khaki);
    border: 1px solid var(--navy);
    padding: 1rem 2rem;
    margin-bottom: 14px;

    h2 {
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0 !important;
        font-size: 1.125rem;
    }

    p,
    ul {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: 500;
    }
}
