.text {
    background-color: var(--olive);
    height: 100px;
    padding-top: 0.55em;
    padding-bottom: 0.75em;
    line-height: 0.75em;
    padding-left: 4em;
    text-align: left;
    color: var(--khaki);
    font-weight: 100;
}

.icon {
    float: left;
    padding-right: 1em;
    padding-top: 0.2em;
}

