.wrapper {
  padding-bottom: 14px;
  background-color: var(--olive);
  padding: 4rem 10vw;
  position: relative;
  
 @media (max-width: 1300px) {
   br {
     display: none;
   }
 }
  
  h1 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    color: var(--khaki);
    font-family: "John Muir";
    text-transform: uppercase;
    font-size: 2.7rem;
  }

  &:after {
    content: " ";
    border-bottom: 10px solid var(--olive);
    display: block;
    width: 100vw;
    left: 0;
    position: relative;
    z-index: 4;
    position: absolute;
    bottom: -20px;
  }
}

@media (min-width: 800px) {
  .main {
    img {
      width: 400px!important;
      object-fit: cover;
      float: right;
      margin-left: 32px;
      margin-bottom: 8px!important;
    }
  }
}

.main {
  margin: auto;
  width: 100%;
  p {
    color: #F9E1B7;
    margin-block-start: 0em;
    margin-block-end: 1em;
  }
  a {
    color: #F9E1B7;
  }
  img {
    border: 5px solid white;
    width: 100%;
    margin-bottom: 24px;
  }
}


