.wrapper {
    display: flex;
    padding: 2rem 0 0 10vw;
    margin: auto;

    > div {
        flex-basis: 60%;
    }
}

.ball {
    h1 {
        font-size: large !important;
        line-height: 1.6;
    }

    p {
        line-height: 1.6;
        font-size: medium !important;
    }
}

.link {
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
}


@media screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
    }
  }