.wrapper {
  padding: 2rem 4rem;
  background-color: #ede0d2;
  h1 {
    font-family: "John Muir";
    text-transform: uppercase;
    font-size: 3rem;
  }

  p {
    color: var(--orange);
    font-size: 1.5rem;
    // line-height: 1.6;
  }
}

.event:not(:last-child) {
  margin-bottom: 5px;
}

.event {
  background-color: var(--orange);
  padding: 1.12rem 1.5rem;
  width: 100%;
  h4 {
    color: white;
    font-size: 1.5em;
    margin: 0;
  }
}
.eventtype {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-size: medium !important;
  color: var(--lightgold) !important;
}
