.wrapper {
  padding: 4rem 10vw;
  position: relative;
  h1 {
    font-family: "John Muir";
    text-transform: uppercase;
    font-size: 3rem;
  }

  p {
    color: var(--orange);
  }

  &:after {
    content: " ";
    border-bottom: 8px solid var(--khaki);
    display: block;
    width: 100vw;
    left: 0;
    z-index: 4;
    position: absolute;
    bottom: -16px;
}
}

.event:not(:last-child) {
  margin-bottom: 5px;
}

.event {
  background-color: var(--orange);
  padding: 1.12rem 1.5rem;
  width: 100%;
  h4 {
    color: var(--khaki);
    font-size: 1.5em;
    margin: 0;
  }
}
.eventtype {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-size: medium !important;
  color: var(--lightgold) !important;
}
