.wrapper {
  padding: 4rem 10vw;
  position: relative;

  p {
    color: var(--orange);
  }

  &:after {
    content: " ";
    border-bottom: 8px solid var(--khaki);
    display: block;
    width: 100vw;
    left: 0;
    z-index: 4;
    position: absolute;
    bottom: -16px;
}
}

.event:not(:last-child) {
  margin-bottom: 5px;
}

.event {
  background-color: var(--orange);
  padding: 1.12rem 1.5rem;
  width: 100%;
  h4 {
    color: var(--khaki);
    margin: 0;
  }
  
}
.eventtype {
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
  font-size: medium !important;
  color: var(--lightgold) !important;
}

.maininput {
  color: var(--khaki);
  font-size: 1.5em;
  margin: 0;
  width: 100%;
  font-weight: 600;
}  

.eventtype::placeholder {
  color: var(--lightgold)!important;
}

.maininput::placeholder {
  color: white;
}

.timetable {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 750px;
}

@media (max-width: 900px) {
  .timetable {
    flex-direction: column;
  }

  .timetableItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: none;
    gap: 10px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .eventtype {
    font-size: small !important;
  }

  .event:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (max-width: 400px) {
  .timetableItem {
    grid-template-columns: 1fr;
  }
}